<div class="container-fluid">
  <div class="jumbotron center">

    <h1><u>Welcome</u></h1><br><br>

    <%= button_tag 'Click here to register for Digital Commerce Course', type: 'submit', class: "btn btn-success bttn", data: {toggle: "modal", target: "#myModal1"} %><br><br>

    <%= button_tag 'Click here to register for Interior Design Course', type: 'submit', class: "btn btn-info bttn", data: {toggle: "modal", target: "#myModal2"} %><br><br>
    
    <%= button_tag 'Click here to register for Social Media Marketing Course', type: 'submit', class: "btn btn-danger bttn", data: {toggle: "modal", target: "#myModal3"} %><br><br>

  </div><!--End of jumbotron-->

  <div class="modal fade" id="myModal1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <%= button_tag(type: 'button', class: 'close', data: {dismiss: "modal"} ) do %>
            <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
          <% end %>

          <h4 class="modal-title" id="myModalLabel">Register</h4>
        </div><!--End of modal-header-->
        <div class="modal-body">
          <form role="form">

            <div class="form-group">
              <%= label_tag 'First Name' %>
              <input type='text' id="exampleInputName1" placeholder= "Enter first name" class="form-control" autofocus>
            </div>

            <div class="form-group">
              <%= label_tag 'Last Name' %>
              <input type='text' id="exampleInputName2" placeholder= "Enter last name" class="form-control">
            </div>

            <div class="form-group">
              <%= label_tag 'Email' %>
              <input type='email' id="exampleInputName3" placeholder= "Enter email" class="form-control">
            </div>

            <div class="form-group">
              <%= label_tag 'Mobile' %>
              <input type='number' id="exampleInputName4" placeholder= "Enter mobile number" class="form-control">
            </div>

            <%= button_tag 'Submit', type: 'submit', class: "btn btn-primary" %>

          </form>
        </div><!--End of modal-body-->
        <div class="modal-footer">
          <%= button_tag 'Close', class: "btn btn-danger", data: {dismiss: "modal"} %>
        </div><!--End of modal-footer-->
      </div><!--End of modal-content-->
    </div><!--End of modal-dialogue-->
  </div><!--End of modal-->

</div>